<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="flex justify-center items-center">
        <figure>
            <img th:src="@{'/uploads/'+ ${wod.imagePath}}" alt="WOD">
        </figure>
        
    </div>
    <div class="flex justify-center items-center">
        <a href="#" class="recommend w-[10%] h-[100%] btn btn-sm btn-outline-secondary" onclick="toggleIcon(event)">
            <i class="fa-regular fa-heart"></i>
        </a>
        <p class="btn text-black w-[90%]" th:text="${wod.content}"></p>
    </div>


    <script>
        function toggleIcon(event) {
          event.preventDefault(); // 링크의 기본 동작을 방지
          const icon = event.currentTarget.querySelector('i');
    
          if (icon.classList.contains('fa-regular')) {
            icon.classList.remove('fa-regular', 'fa-heart');
            icon.classList.add('fa-solid', 'fa-heart');
          } else {
            icon.classList.remove('fa-solid', 'fa-heart');
            icon.classList.add('fa-regular', 'fa-heart');
          }
        }
    </script>
</div>