@PostMapping("/create")
private String createTrainer(@Valid TrainerForm trainerForm,
BindingResult bindingResult,
@RequestParam("image") MultipartFile image,
Model model) {

if (bindingResult.hasErrors()) {
return "trainer/trainer_create";
}

if (image != null && !image.isEmpty()) {
String fileName = StringUtils.cleanPath(image.getOriginalFilename());

try {
this.fileUploadUtil.saveFile(fileName, image);
} catch (Exception e) {
e.printStackTrace();
bindingResult.reject("fileUploadError", "이미지 업로드 중 오류가 발생했습니다.");
return "trainer/trainer_create";
}

trainerService.create(fileName, trainerForm.getTrainerName(), trainerForm.getIntroduce(),
trainerForm.getGender(), trainerForm.getClassType(), trainerForm.getSpecialization());
}

List<Trainer> trainerList = trainerService.getList();
    model.addAttribute("trainerList", trainerList);

    return "redirect:/";
    }